<main>
    <div class="container">
        <h1 class="titulo">Login</h1>
        <div class="login__container">
            <form class="login__formulario">
                <h2 class="login__titulo">Entrar</h2>
                <div class="login__formulario-campo">
                    <label for="email">E-mail <span class="login__required">*</span></label>
                    <input type="email" name="email" id="email" required placeholder="Digite seu e-mail">
                </div>
                <div class="login__formulario-campo">
                    <label for="senha">Senha <span class="login__required">*</span></label>
                    <input type="password" name="senha" id="senha" required placeholder="Digite sua senha">
                </div>
                <div class="login__formulario-links">
                    <a href="./esqueci" class="login__esqueci">Esqueci minha senha</a>
                    <button type="submit" class="botao botao--vermelho" (click)="entrar();">Entrar</button>
                </div>
                <p class="login__cadastre">Ainda não possui uma conta? <a href="./cadastro">Cadastre-se</a></p>
            </form>
        </div>
    </div>
</main>