<main>
    <div class="container">
        <h1 class="titulo">Login</h1>
        <div *ngIf="mensagem!==''" class="alert alert-dismissible alerta" [ngClass]="{'alert-success': nivelMensagem === 1, 'alert-info': nivelMensagem === 2, 'alert-warning': nivelMensagem === 3, 'alert-danger': nivelMensagem === 4}">
            <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="avisoFechado();"></button>
            <strong><i class="fa-solid fa-circle-info alerta__icone"></i></strong>  {{mensagem}}
        </div>
        <div class="login__container">
            <form class="login__formulario">
                <h2 class="login__titulo">Entrar</h2>
                <div class="login__formulario-campo">
                    <input [(ngModel)]="obj.email" type="email" name="email" id="email" required placeholder="">
                    <label for="email">E-mail</label>
                </div>
                <div class="login__formulario-campo">
                    <input [(ngModel)]="obj.senha" [type]="tipoInput" name="senha" id="senha" required placeholder="">
                    <label for="senha">Senha</label>
                    <button type="button" class="visibilidade-senha" (click)="mudarVisibilidadeSenha();"><i class="fa-solid fa-eye-slash" *ngIf="tipoInput === 'password'"></i><i class="fa-solid fa-eye" *ngIf="tipoInput === 'text'"></i></button>
                </div>
                <div class="login__formulario-links">
                    <a href="./esqueci" class="login__esqueci">Esqueci minha senha</a>
                    <button type="submit" class="botao botao--vermelho" (click)="entrar();">Entrar</button>
                </div>
                <p class="login__cadastre">Ainda não possui uma conta? <a href="./cadastro">Cadastre-se</a></p>
            </form>
        </div>
    </div>
</main>