main{
    background-color: #F2F3F4;
}

label, input{
    width: 100%;
    box-sizing: border-box;
    display: block;
}

label{
    font-weight: 500;
    font-size: 1rem;
    position: absolute;
    top: 25%;
    left: 16px;
    opacity: .5;
    width: fit-content;
    cursor: text;
    background-color: rgb(252, 252, 252);
    transition: transform .1s linear;
}

input{
    padding: .8rem 1rem;
    border-radius: 8px;
    border: 2px solid #ccc;
    color: #5e5d5d;
    text-overflow: ellipsis;
}

input:focus{
    border: 2px solid var(--cor-principal);
    outline: none;
}

input:focus + label,
input:not(:placeholder-shown) + label{
    transform: translateY(-25px) translateX(-4px);
    opacity: 1;
    cursor: default;
    font-size: .9rem;
    padding: 0 5px;
    color: var(--cor-secundaria);
    font-weight: 400;
}

input:not(:placeholder-shown){
    border: 2px solid var(--cor-secundaria);
}

.login__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 21vh;
}

.login__formulario{
    padding: 4rem 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    background-color: rgb(252, 252, 252);
    border-radius: 1.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.login__titulo{
    font-size: 2rem;
    font-weight: 600;
}

.login__formulario-campo{
    position: relative;
}

#senha{
    padding-right: 3rem;
}

.visibilidade-senha{
    width: 20px;
    padding: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 13px;
    right: 15px;
}

.visibilidade-senha i{
    color: #5e5d5d;
}

.login__formulario-links{
    display: flex; 
    gap: 2rem; 
    justify-content: space-between; 
    align-items: center;
}

.login__esqueci{
    text-align: right;
    color: var(--cor-principal);
    font-size: 14px;
    font-weight: 600;
}

.botao{
    width: 20%;
}

.login__esqueci:hover,
.login__cadastre a:hover{
    color: var(--cor-secundaria);
}

.login__cadastre{
    margin: 0;
}

.login__cadastre a{
    color: var(--cor-principal);
    font-weight: 600;
    white-space: nowrap;
}

@media screen and (max-width: 600px){

    main{
        background-color: rgb(252, 252, 252);
    }

    .login__formulario{
        background-color: transparent;
        box-shadow: none;
        padding: 2rem .5rem;
    }
}

@media screen and (max-width: 760px){
    
    .login__formulario-links{
        flex-direction: column;
        align-items: flex-start;
    }

    .botao{
        width: 100%;
    }

    .login__cadastre{
        text-align: center;
    }
}

@media screen and (max-width: 1000px){
    
    .login__formulario{
        width: 100%;
    }
}