main{
    background-color: #F2F3F4;
}


label, input{
    width: 100%;
    box-sizing: border-box;
    display: block;
}

label{
    font-weight: 500;
    font-size: 1rem;
    position: absolute;
    top: 25%;
    left: 16px;
    opacity: .5;
    width: fit-content;
    cursor: text;
    background-color: rgb(252, 252, 252);
    transition: transform .1s linear;
    user-select: none;
}

input{
    padding: .8rem 1rem;
    border-radius: 8px;
    border: 2px solid #ccc;
    color: #5e5d5d;
    text-overflow: ellipsis;
}

input:focus{
    border: 2px solid var(--cor-principal);
    outline: none;
}

input:focus + label,
input:not(:placeholder-shown) + label{
    transform: translateY(-25px) translateX(-4px);
    opacity: 1;
    cursor: default;
    font-size: .9rem;
    padding: 0 5px;
    color: var(--cor-secundaria);
    font-weight: 400;
}

input:not(:placeholder-shown){
    border: 2px solid var(--cor-secundaria);
}

.cadastro__container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro__formulario{
    padding: 4rem 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    background-color: rgb(252, 252, 252);
    border-radius: 1.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.cadastro__titulo{
    font-size: 2rem;
    font-weight: 600;
}

.cadastro__formulario-campo{
    display: flex;
    gap: 3rem;
}

.cadastro__formulario-campo div{
    flex-basis: 50%;
    position: relative;
}

#senha{
    padding-right: 3rem;
}

.visibilidade-senha{
    width: 20px;
    padding: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    bottom: 13px;
    right: 15px;
}

.visibilidade-senha i{
    color: #5e5d5d;
}

.botao{
    margin: 0 auto;
    width: 40%;
}

.cadastro__login a:hover{
    color: var(--cor-secundaria);
}

.cadastro__login{
    margin: 0 auto;
}

.cadastro__login a{
    color: var(--cor-principal);
    font-weight: 600;
    white-space: nowrap;
}

.cadastro__formulario-funcoes{
    border-top: 1px solid #ccc;
    margin-top: 1rem;
    padding: 2rem 2rem 0;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.cadastro__formulario-codigo{
    position: relative;
    flex-basis: 20%;
}

.cadastro__formulario-botoes{
    flex-basis: 80%;
    display: flex;
    gap: 3rem;
}

@media screen and (max-width: 500px){

    .cadastro__formulario-funcoes{
        padding: 2rem .5rem 0;
    }

    .cadastro__formulario-botoes{
        gap: 1rem;
    }
}

@media screen and (max-width: 600px){

    main{
        background-color: rgb(252, 252, 252);
    }

    .cadastro__formulario{
        background-color: transparent;
        box-shadow: none;
        padding: 2rem .5rem;
    }
}

@media screen and (max-width: 760px){

    .botao{
        width: 100%;
    }

    .cadastro__formulario-campo{
        flex-direction: column;
        gap: 1.7rem;
    }

    
}

@media screen and (max-width: 1000px){
    
    .cadastro__formulario{
        width: 100%;
    }

    .cadastro__formulario-funcoes{
        flex-direction: column;
        align-items: normal;
    }

    .cadastro__formulario-codigo{
        width: 40%;
        margin: 0 auto;
    }
}