<main>
    <div class="container">
        <h1 class="titulo">Cadastro</h1>
        <div class="cadastro__container">
            <form class="cadastro__formulario">
                <h2 class="cadastro__titulo">Criar conta</h2>
                <div class="cadastro__formulario-campo">
                    <div>
                        <label for="nome">Nome completo <span class="cadastro__required">*</span></label>
                        <input type="text" [(ngModel)]="obj.nome" name="nome" id="nome" required placeholder="Digite seu nome completo">
                    </div>
                    <div>
                        <label for="cpf">CPF <span class="cadastro__required">*</span></label>
                        <input type="text" [(ngModel)]="obj.cpf" name="cpf" id="cpf" required placeholder="Digite seu CPF">
                    </div>
                </div>
                <div class="cadastro__formulario-campo">
                    <div>
                        <label for="email">E-mail <span class="cadastro__required">*</span></label>
                        <input type="email" [(ngModel)]="obj.email" name="email" id="email" required placeholder="Digite seu e-mail">
                    </div>
                    <div>
                        <label for="senha">Senha <span class="cadastro__required">*</span></label>
                        <input type="password" [(ngModel)]="obj.senha" name="senha" id="senha" required placeholder="Crie uma senha">
                    </div>
                </div>
                <div class="cadastro__formulario-campo">
                    <div>
                        <label for="telefone">Telefone <span class="cadastro__required">*</span></label>
                        <input type="text" [(ngModel)]="obj.telefone" name="telefone" id="telefone" required placeholder="Digite seu telefone">
                    </div>
                    <div>
                        <label for="cep">CEP <span class="cadastro__required">*</span></label>
                        <input type="text" [(ngModel)]="obj.cep" name="cep" id="cep" required placeholder="Digite seu CEP">
                    </div>
                </div>
                <div class="cadastro__formulario-campo">
                    <div>
                        <label for="endereco">Endereço <span class="cadastro__required">*</span></label>
                        <input type="text" [(ngModel)]="obj.endereco" name="endereco" id="endereco" required placeholder="Digite seu endereço">
                    </div>
                    <div>
                        <label for="complemento">Complemento</label>
                        <input type="text" [(ngModel)]="obj.complemento" name="complemento" id="complemento" placeholder="Digite o complemento">
                    </div>
                </div>
                <div class="cadastro__formulario-campo">
                    <div>
                        <label for="cidade">Cidade <span class="cadastro__required">*</span></label>
                        <input type="text" [(ngModel)]="obj.cidade" name="cidade" id="cidade" required placeholder="Digite sua cidade">
                    </div>
                    <div>
                        <label for="estado">Estado <span class="cadastro__required">*</span></label>
                        <input type="text" [(ngModel)]="obj.estado" name="estado" id="estado" required placeholder="Digite seu estado">
                    </div>
                </div>
                <button type="submit" class="botao botao--vermelho" (click)="gravar();">Cadastrar</button>
                <p class="cadastro__login">Já possui cadastro? <a href="./login">Entrar</a></p>
            </form>
        </div>
    </div>
</main>