.cesta-tabela{
    width: 100%;
}

.cesta-tabela thead{
    border: 1px solid #ccc;
}

.cesta-tabela thead th{
    padding: 1rem;
    font-weight: 700;
    font-size: 1.1rem;
}

.cesta-tabela tbody tr{
    border: 1px solid #ccc;
    color: #5e5d5d;
}

.cesta-tabela tbody tr td{
    padding: 2rem 1rem;
}

.cesta-tabela .cesta-tabela__imagem{
    width: 10%;
}

.cesta-tabela .cesta-tabela__imagem img{
    width: 100%;
    min-width: 100px;
    border-radius: 8px;
}

.cesta-tabela .cesta-tabela__produto{
    width: 30%;
    font-weight: 400;
}

.cesta-tabela__vl-unitario{
    width: 18%;
    font-weight: 600;
}

.cesta-tabela__qtd{
    width: 20%;
    font-weight: 500;
}

.qtd__container{
    border: 1px solid #ccc;
    width: fit-content;
}

.qtd{
    -moz-appearance: textfield;
    appearance: textfield;
    width: 50px;
    padding: 5px;
    border: none;
    text-align: center;
}

.qtd::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.qtd:focus{
    outline: 2px solid black;
}

.fa-minus, .fa-plus{
    color: #2c2c2c;
}

.qtd_diminuir, .qtd_aumentar{
    border: none;
    padding: 5px 10px;
    background-color: transparent;
    transition: background-color .3s linear;
}

.qtd_diminuir:hover, .qtd_aumentar:hover{
    background-color: #f1f1f1;
}

.cesta-tabela__vl-total{
    width: 18%;
    color: var(--cor-principal);
    font-weight: 700;
}

.cesta-tabela__excluir{
    width: 4%;
    text-align: center;
}

.cesta-tabela__excluir button{
    background-color: transparent;
    border: none;
    
}

.cesta-tabela__excluir button:hover i{
    color: #727272;
}

.cesta-tabela__excluir i{
    font-size: 1.2rem;
    color: #8b8b8b
}

.cesta-botoes{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.cesta-botoes__limpar{
    flex-basis: 10%;
}

.cesta-botoes__pedido{
    flex-basis: 41%;
    margin-bottom: 24vh;
}

.cesta-botoes__total-container{
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cesta-botoes__escrito{
    margin: 0;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.cesta-botoes__total{
    margin: 0;
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-weight: 700;
}

.botao--pedido{
    text-transform: uppercase;
    font-weight: 700;
}

.cesta-cards{
    display: none;
}

@media screen and (max-width: 768px){
    .qtd{
        width: 30px;
        padding: 3px;
        font-size: .8rem;
    }
    
    .fa-minus, .fa-plus{
        font-size: .8rem;
    }
    
    .qtd_diminuir, .qtd_aumentar{
        padding: 3px 8px;
    }

    .cesta-card__nome{
        font-size: .8rem;
    }

    .botao--remover i{
        font-size: .8rem;
    }
    
    .cesta-card__preco{
        font-size: .8rem;
    }

    .cesta-botoes__total{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1000px){
    
    .cesta-tabela{
        display: none;
    }

    .cesta-cards{
        display: block;
    }

    .cesta-card{
        color: #5e5d5d;
        padding: 1rem;
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
    
    .cesta-card:not(:last-child){
        margin-bottom: 2rem;
    }
    
    .cesta-card__imagem img{
        width: 100%;
        max-width: 100px;
        border-radius: 8px;
    }
    
    .cesta-card__produto{
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .cesta-card__linha{
        display: flex;
        justify-content: space-between;
        gap: 1.2rem;
    }
    
    .cesta-card__nome{
        margin: 0;
        font-weight: 400;
    }

    .botao--remover{
        background-color: transparent;
        border: none;
    }
    
    .botao--remover i{
        color: #8b8b8b;
    }
    
    .cesta-card__preco{
        margin: 0;
        font-weight: 600;
    }
    
    .cesta-card__info{
        display: flex;
        gap: .5rem;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .cesta-botoes{
        flex-direction: column;
        gap: 3rem;
    }

    .cesta-botoes__limpar{
        width: 100px;
    }
}