<main>
    <div class="container">
        <h1 class="titulo">Cesta de Compras</h1>
        <div *ngIf="lista.length<=0" class="vazia">
            <i class="fa-solid fa-circle-xmark"></i>
            <p class="vazia__titulo">A cesta está vazia!</p>
            <p class="vazia__texto">Você ainda não possui produtos na cesta.</p>
            <a href="./vitrine" class="botao botao--vermelho" style="width: fit-content; padding: .5rem 1rem;">Ver produtos</a>
        </div>
        <table *ngIf="lista.length>0" class="cesta-tabela">
            <thead>
                <tr>
                    <th colspan="2">Produto</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th colspan="2">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of lista">
                    <td class="cesta-tabela__imagem"><img src="../../assets/{{item.codigoProduto}}.png" alt="Produto"></td>
                    <td class="cesta-tabela__produto">{{item.nomeProduto}}</td>
                    <td class="cesta-tabela__vl-unitario">R$ {{item.valor | number:'1.2-2':'pt'}}</td>
                    <td class="cesta-tabela__qtd">
                        <div class="qtd__container">
                            <button class="qtd_diminuir" (click)="diminuirQuantidade(item);"><i class="fa-solid fa-minus"></i></button>
                            <input [(ngModel)]="item.qtd" (blur)="inputVazio(item);" (ngModelChange)="alterarQuantidade(item);" type="number" class="qtd" name="qtd" value="{{item.qtd}}">
                            <button class="qtd_aumentar" (click)="aumentarQuantidade(item);"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </td>
                    <td class="cesta-tabela__vl-total">R$ {{item.total | number:'1.2-2':'pt'}}</td>
                    <td class="cesta-tabela__excluir"><button title="Remover" (click)="removerItem(item);"><i class="fa-solid fa-trash-can"></i></button></td>
                </tr>
            </tbody>
        </table>
        <div class="cesta-cards">
            <div *ngFor="let item of lista" class="cesta-card">
                <div class="cesta-card__imagem">
                    <img src="../../assets/{{item.codigoProduto}}.png" alt="Produto">
                </div>
                <div class="cesta-card__produto">
                    <div class="cesta-card__linha">
                        <p class="cesta-card__nome">{{item.nomeProduto}}</p>
                        <button class="botao--remover" title="Remover" (click)="removerItem(item);"><i class="fa-solid fa-trash-can"></i></button>
                    </div>
                    <div class="cesta-card__info">
                        <p class="cesta-card__preco">R$ {{item.valor | number:'1.2-2':'pt'}}</p>
                        <div class="qtd__container">
                            <button class="qtd_diminuir" (click)="diminuirQuantidade(item);"><i class="fa-solid fa-minus"></i></button>
                            <input [(ngModel)]="item.qtd" (blur)="inputVazio(item);" (ngModelChange)="alterarQuantidade(item);" type="number" class="qtd" name="qtd" value="{{item.qtd}}">
                            <button class="qtd_aumentar" (click)="aumentarQuantidade(item);"><i class="fa-solid fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="lista.length>0" class="cesta-botoes">
            <div class="cesta-botoes__limpar">
                <button class="botao botao--vermelho" (click)="limpar();">Limpar</button>
            </div>
            <div class="cesta-botoes__pedido">
                <div class="cesta-botoes__total-container">
                    <p class="cesta-botoes__escrito">Total</p>
                    <p class="cesta-botoes__total">R$ {{totalCesta | number:'1.2-2':'pt'}}</p>
                </div>
                <button class="botao botao--vermelho botao--pedido">Fechar pedido</button>
            </div>
        </div>

    </div>
</main>