<header class="cabecalho">
    <div class="cabecalho__topo container">
        <a href="./">
            <img src="./assets/logo_vertical_branco.png" alt="Logotipo da CloudShop" class="logo logo__desktop">
            <img src="../../assets/logo_simbolo.png" alt="Logotipo da CloudShop" class="logo logo__mobile">
        </a>
        <form class="cabecalho__busca">
            <input [(ngModel)]="pesquisa" type="text" name="pesquisa" placeholder="Buscar...">
            <button title="Pesquisar" (click)="pesquisar(pesquisa);"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <nav class="cabecalho__botoes">
            <a href="./vitrine" title="Vitrine"><i class="fa-solid fa-mobile-screen-button"></i></a>
            <a href="./login" title="Login"><i class="fa-solid fa-circle-user"></i></a>
            <a href="./cesta" title="Cesta"><i class="fa-solid fa-cart-shopping"></i></a>
        </nav>
    </div>
    <div class="cabecalho__menu">
        <nav class="cabecalho__menu-nav container">
            <button class="cabecalho__menu-link" (click)="pesquisar('Apple');">Apple</button>
            <button class="cabecalho__menu-link" (click)="pesquisar('Motorola');">Motorola</button>
            <button class="cabecalho__menu-link" (click)="pesquisar('Samsung');">Samsung</button>
            <button class="cabecalho__menu-link" (click)="pesquisar('Xiaomi');">Xiaomi</button>
        </nav>
    </div>
</header>