<main>
    <div class="container">
        <h1 class="titulo">Vitrine</h1>
        <div *ngIf="mensagem!==''" class="alert alert-dismissible alerta" [ngClass]="{'alert-success': nivelMensagem === 1, 'alert-warning': nivelMensagem === 2, 'alert-danger': nivelMensagem === 3}">
            <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="avisoFechado();"></button>
            <strong><i class="fa-solid fa-circle-info alerta__icone"></i></strong>  {{mensagem}}
        </div>
        <div *ngIf="lista.length<=0" class="vazia">
            <i class="fa-solid fa-circle-xmark"></i>
            <p class="vazia__titulo">A vitrine está vazia!</p>
            <p class="vazia__texto">Não existem produtos cadastrados.</p>
        </div>
        <div class="row g-3 g-sm-4 g-md-5">
            <div *ngFor="let item of lista" class="vitrine__produtos col-6 col-md-6 col-lg-4 col-xl-3">
                <div class="vitrine__produto">
                    <button class="vitrine__produto-link" (click)="detalhe(item);">
                        <img src="../../assets/produto{{item.codigo}}/{{item.codigo}}.png" alt="Produto">
                    </button>
                    <div class="vitrine__produto-info" (click)="detalhe(item);">
                        <p class="vitrine__produto-nome" title="{{item.nome}}">{{item.nome}}</p>
                        <p class="vitrine__produto-preco" *ngIf="item.valor<=item.valorPromo||item.valorPromo==0">R$ {{item.valor | number:'1.2-2':'pt'}}</p>
                        <p class="vitrine__produto-preco" *ngIf="item.valorPromo<item.valor&&item.valorPromo>0">R$ {{item.valorPromo | number:'1.2-2':'pt'}}</p>
                    </div>
                    <div class="vitrine__produto-botoes">
                        <button class="botao botao--transparente" (click)="detalhe(item);">Detalhes</button>
                        <button *ngIf="item.estoque>0" class="botao botao--vermelho" (click)="comprar(item);">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>