<main>
    <div class="container">
        <h1 class="titulo">Esqueci minha senha</h1>
        <div class="esqueci__container">
            <form class="esqueci__formulario">
                <h2 class="esqueci__titulo">Informe o seu e-mail</h2>
                <div class="esqueci__formulario-campo">
                    <input type="email" name="email" id="email" required placeholder="">
                    <label for="email">E-mail</label>
                </div>
                <button type="submit" class="botao botao--vermelho">Enviar</button>
            </form>
        </div>
    </div>
</main>